.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #427d9d;
  height: 50px;
  padding: 3px 20px;
}
.navbarTitle {
  font-size: 20px;
  cursor: pointer;
  /* border: 1px solid black; */
  color: white;
}

.logoutButton {
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: #ff5b22;
  box-shadow: 8px 10px 7px -5px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.links {
  color: white;
  font-size: 18px;
  margin: 0px 15px;
  cursor: pointer;
}

.links:hover {
  text-decoration: underline;
}
.space {
  margin-right: 50px;
}
